@import "../basics/global-variables";

.email-index {
    border-radius: 4px 0 0 0;
    background: repeating-linear-gradient(45deg, rgba(142, 141, 138, 0.1), rgba(142, 141, 138, 0.1) 1px, $p1_beige 3px, $p1_beige 25px);
    color: $p1_grey;
    height: 100%;
    display: grid;
    
    .emails-grid-wrapper {
        display: grid;
        grid-template-columns: minmax(200px, 1fr) 2fr;
    }
}