@import "../basics/global-variables";

.app-footer {
    align-items: center;
    background-color: $p1_beige;
    border-top: 2px solid rgba(142, 141, 138, 0.1);
    color: $p1_grey;
    display: grid;
    grid-template-columns: 1fr 1fr;
    // display: flex;
    // justify-content: space-between;
    padding: 15px;

    .me-logo {
        color: $p1_red;
        font-weight: 700;
        letter-spacing: 1px;
    }

    section.useless-text {
        font-size: 14px;
        justify-self: end;
        letter-spacing: 0.5px;
        text-transform: uppercase;

        .author {
            font-weight: 700;
            letter-spacing: 1px;
        }

        .heart {
            color: $p1_light_red;
        }
    }

    @media screen and (max-width: $small) {
        font-size: 10px;
    }
}