@import "../basics/global-variables";

.email-preview {
    align-items: center;
    background-color: $p1_lighter_beige;
    border-bottom: 2px solid rgba(142, 141, 138, 0.3);
    color: $p1_grey;
    cursor: pointer;
    display: flex;
    height: 60px;
    padding: 10px 5px;

    .from {
        font-weight: 600;
        max-width: 200px;
        padding: 0 10px;
        text-wrap: nowrap;
        width: 100%;
    }

    .date {
        flex-grow: 1;
        max-width: 60px;
        padding: 0 10px;
        text-wrap: nowrap;
        text-align: right;
    }

    .content {
        align-items: center;
        display: flex;
        flex-grow: 1;
        justify-content: flex-start;
        padding: 0 10px;
        text-wrap: nowrap;

        .subject {
            font-weight: 600;
            text-wrap: nowrap;

            &::after {
                content: '\00A0 \2010'
            }
        }

        .body {
            display: inline-block;
            max-width: 300px;
            overflow: hidden;
            padding: 0 10px;
            text-overflow: ellipsis;
            width: 100%;
            white-space: nowrap;
        }
    }

    &:last-child {
        border-bottom: 10px solid $p1_grey;
        border-radius: 4px;
    }
}

/* Customize the label (the container) */
.cb-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    /* On mouse-over, add a grey background color */
    &:hover input~.checkmark {
        background-color: $p1_brown;
    }

    /* Hide the browser's default checkbox */
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;

        /* When the checkbox is checked, add a blue background */
        &:checked~.checkmark {
            background-color: $p1_light_red;
            border: none;

            /* Show the checkmark when checked */
            &::after {
                display: block;
            }
        }
    }

    /* Create a custom checkbox */
    .checkmark {
        border: 1px solid $p1_grey;
        border-radius: 3px;
        height: 15px;
        left: 0;
        position: absolute;
        top: 0;
        width: 15px;

        /* Style the checkmark/indicator */
        &::after {
            left: 9px;
            top: 5px;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:before {
    content: '\2606';
    position: absolute;
    display: none;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    // content: "";
    position: absolute;
    display: none;
}